<launch>
    <!-- 加载参数到全局命名空间 -->
  <param name="lidar_topic" value="/ouster/points"/>
  <param name="lidar_clean_topic" value="/ouster/points_convert_xyzi"/>
  <param name="debug_info" value="false"/>

  <node pkg="check_data" type="lidar_convert_xyzi_node" name="lidar_convert_xyzi" output="screen">
  </node>
</launch>
